In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
temp= pd.read_csv(r'C:\Users\Usuario\Downloads\DS_Bitácora_41_Temperatura.csv')

In [3]:
temp

       dia  mes  anio  Tmax  Tmin
0        1    1  1959  25.6  11.6
1        2    1  1959  26.2  16.4
2        3    1  1959  27.3  18.8
3        4    1  1959  25.4  16.6
4        5    1  1959  21.6  10.7
...    ...  ...   ...   ...   ...
21709    9    6  2018  16.0   8.8
21710   10    6  2018  17.6  13.5
21711   11    6  2018  15.0  12.0
21712   12    6  2018  13.4   6.7
21713   13    6  2018   NaN   5.5

[21714 rows x 5 columns]